#mapContainer {
    position: relative;
    width: 100%;
}

#map {
    width: 100%;
    cursor: pointer;
}

.detailRectangle {
    position: absolute;
    width: 28%;
    height: 23%;
    border: 3px solid red;
    pointer-events: none;
}

.detailName {
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.7);
    font-size: 18px;
    font-family: "DotGothic16", sans-serif;
    font-weight: 400;
    font-style: normal;
}



.pin {
    position: absolute;
    width: 8%;
    height: 8%;
    background-size: cover;
    display: none;
    cursor: pointer;
}
.pin[data-pin="1"],
.pin[data-pin="2"],
.pin[data-pin="3"],
.pin[data-pin="4"],
.pin[data-pin="5"],
.pin[data-pin="6"],
.pin[data-pin="7"],
.pin[data-pin="8"],
.pin[data-pin="9"],
.pin[data-pin="10"] {
    background-image: url("マップピン/三宮ピン.png");
}

.pin[data-pin="11"],
.pin[data-pin="12"],
.pin[data-pin="13"],
.pin[data-pin="14"],
.pin[data-pin="15"],
.pin[data-pin="16"],
.pin[data-pin="17"],
.pin[data-pin="18"],
.pin[data-pin="19"],
.pin[data-pin="20"],
.pin[data-pin="21"] {
    background-image: url("マップピン/駅北ピン.png");
}

.pin[data-pin="22"],
.pin[data-pin="23"],
.pin[data-pin="24"],
.pin[data-pin="25"],
.pin[data-pin="26"],
.pin[data-pin="27"],
.pin[data-pin="28"],
.pin[data-pin="29"],
.pin[data-pin="30"],
.pin[data-pin="31"],
.pin[data-pin="32"],
.pin[data-pin="33"],
.pin[data-pin="34"] {
    background-image: url("マップピン/元町ピン.png");
}

.pin[data-pin="35"],
.pin[data-pin="36"],
.pin[data-pin="37"],
.pin[data-pin="38"],
.pin[data-pin="39"],
.pin[data-pin="40"],
.pin[data-pin="41"],
.pin[data-pin="42"] {
    background-image: url("マップピン/海側ピン.png");
}

/* 他のピンの画像設定も同様に記述 */

.pin span {
    position: absolute;
    top: 32%;
    left: 63%;
    transform: translate(-50%, -50%);
    color: rgba(0);
    font-size: 70%;
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
}

#detailMapContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
}

#detailMap {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#closeButton {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 5px 10px;
    background-color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
    font-size: 14px;
    font-family: "DotGothic16", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#backButton {
    position: absolute;
    top: 12%;
    left: 3%;
    padding: 5px 10px;
    background-color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
    display: none;
    font-size: 14px;
    font-family: "DotGothic16", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#topImage {
    max-width: 100%;
    height: auto;
}
